#principal , .active{
    background-color: rgb(255, 255, 255);
    
}

#principal:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}




#principal  .card-title {

   font-size: 14px;
}

.btn-dark , .btn-danger{
    font-size: 12px;
    margin-bottom: 20px;
}


body{
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

#principal  .precio {

font-weight: bold;
font-size: 20px; }


.navbar{
background: #000835;    
height: 100px;
}

.nav-link, .navbar-brand{
font-size: 15px;
color: #f4f4f4;
}

.nav-link:hover {
color: rgb(94, 97, 97);
}
.navbar-brand:hover{
    color: #f4f4f4;
}


#carrito img {
    margin-top: 10px;
    margin-left: 4px;
    width: 80px;
}

#carrito ,.nombre{
    text-align: center;
}


#contadorCarrito{

    padding:1px 2px 1px 2px;
    background-color:red; 
    color:white;
    font-weight:bold; 
    font-size:0.55em;
}

#total{
font-weight: bold;
margin: 10px;
align-items: center;
text-align: center;
border: 1px solid;
border-radius: 100px;
border-color: red;

}



#cuerpo{

  width: 100px;
}

.card  img {

    width: 100%;

}